* {
  /* border: 1px solid black; */
}

.search-bar-wrapper {
  border-bottom: 1px solid #3333;
  height: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: dodgerblue;
}


.search-form {
  font-size: 14px;
}
.search-form input {
  text-align: center;
  color: #262626;
  height: 30px;
  font-size: 2rem;
}

.logo-image {
  height: 100%;
}

.social-wrapper {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  font-size: 2rem;
  color: white;
}
